.link-bg-hover{
    &:hover{
        background: $warning;
        p{
            animation: bounce 1s 1;
        }
    }
}

.Noto-Serif-TC{
    font-family: Noto Serif TC;
}
// 文字跳動效果
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.nav-hover{
    &:hover{
        color: $dark-hover;
    }
}

.left-border{
    border: 2px solid $dark;
}

.link-hover{
    &:hover{
        color: $warning;
        background: $dark;
        .left-border{
            border-color: $warning;
        }
    }
}

.img-hover{
    &:hover{
        opacity: 0.7;
    }
}

.hover-d-inline{
    display: none;
}

.btn-hover{
    &:hover{
        .hover-d-none{
            display: none;
        }
        .hover-d-inline{
            display: inline-block;
        }
    }
}

// 字體大小
.fs-14{
    font-size: 0.875rem;
}
.fs-18{
    font-size: 1.125rem;
}


@for $i from 0 through 4{
    .fs-#{$i*4 + 16}{
        font-size: 1rem + ($i * 0.25rem);
    }
}

@media (min-width: 576px) {
    @for $i from 0 through 6{
        .fs-sm-#{$i*4 + 16}{
            font-size: 1rem + ($i * 0.25rem);
        }
    }
}

@media (min-width: 768px) {
    @for $i from 0 through 8{
        .fs-md-#{$i*4 + 16}{
            font-size: 1rem + ($i * 0.25rem);
        }
    }
    .fs-md-22{
        font-size: 1.375rem;
    }
}

@media (min-width: 992px) {
    @for $i from 0 through 12{
        .fs-lg-#{$i*4 + 16}{
            font-size: 1rem + ($i * 0.25rem);
        }
    }
    .fs-lg-18{
        font-size: 1.125rem;
    }
}