<div class="container-fluid border-bottom border-2 border-dark">
    <header class="py-3 py-md-6 d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <h1 class="fs-lg-32 d-flex">
                <a href="index.html" class="d-flex align-items-center">
                    <img class="logo me-6"
                        src="https://github.com/newhandarky/week6-homework/blob/main/assets/images/logo.png?raw=true"
                        alt="網站LOGO">
                    <span class="">7TAO </span>
                    <span class="fs-6 ms-1">活動訂票網</span>
                </a>
            </h1>
            <div class="d-flex">
                <input class="ms-0 ms-lg-12 py-2 px-6 bg-bg-color" type="text" placeholder="探索活動">
                <button class="btn btn-dark p-md-4" type="submit"><i
                        class="p-1 icofont-search-1 text-warning"></i></button>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <button class="d-block d-md-none bg-bg-color rounded-1 py-1 px-3" data-bs-toggle="collapse"
                href="#hamburger" role="button" aria-expanded="false" aria-controls="hamburger">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 7H26H4ZM4 15H26H4ZM4 23H26H4Z" fill="black" />
                    <path d="M4 7H26M4 15H26M4 23H26" stroke="#030303" stroke-width="2" stroke-miterlimit="10"
                        stroke-linecap="round" />
                </svg>
            </button>
        </div>

        <nav class="d-none d-md-flex align-items-center">
            <ul class="d-flex">
                <li>
                    <a href="" class="nav-hover fs-18">
                        <i class="p-1 icofont-file-alt">
                        </i>REGISTER
                    </a>
                </li>
                <li class="ms-6">
                    <a href="login.html" class="nav-hover fs-18">
                        <i class="p-1 icofont-ui-user">
                        </i>LOGIN
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</div>


<div class="dropdown">
    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
        aria-expanded="false">
        Dropdown link
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>

<nav class="collapse" id="hamburger">
    <div class="container">
        <ul class="text-end">
            <li class="my-3">
                <a href="" class="nav-hover fs-18">
                    <i class="p-1 icofont-file-alt">
                    </i>REGISTER
                </a>
            </li>
            <li class="mb-3">
                <a href="" class="nav-hover fs-18">
                    <i class="p-1 icofont-ui-user">
                    </i>LOGIN
                </a>
            </li>
        </ul>
    </div>
</nav>