<div class="container-fluid scroll overflow-hidden bg-dark py-4 py-md-6 mb-8 mb-md-15 d-flex">
    <p class="text-warning scroll__text fs-sm-24 fs-md-32">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</p>
    <p class="text-warning scroll__text fs-sm-24 fs-md-32">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</p>
</div>