<div class="modal fade" id="joinMember" tabindex="-1" aria-labelledby="joinMemberLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-white">
            <div class="modal-header border-bottom border-dark border-3 position-relative">
                <h5 class="noto-Serif-TC modal-title position-absolute start-50 translate-middle-x" id="joinMemberLabel">立刻成為7TAO會員
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center noto-sens-TC">立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
                    您也可以先報名活動，日後再註冊帳號，<br>
                    系統會在認證您的Email後，協助您找回舊的訂單。</p>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="noto-sens-TC btn btn-dark m-auto py-2 px-8 link-hover">立即成為會員</button>
            </div>
        </div>
    </div>
</div>