/*------------------------------------*\
    其他
\*------------------------------------*/
.logo{
    width: 53px;
    height: 53px;
}

header{
    input{
        width: 280px;
    }
}

/*------------------------------------*\
    RWD相關
\*------------------------------------*/
@media (max-width: 992px) {
    h1 span{
        display: none;
    }
}

@media (max-width: 768px) {
    header{
        input{
            max-width: 180px;
            height: 40px;
        }
        button{
            height: 40px;
        }
    }
    .logo{
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 768px) {
    header{
        input{
            max-width: 160px;
            height: 40px;
        }
        button{
            height: 40px;
        }
    }
}