/*------------------------------------*\
    hover效果
\*------------------------------------*/
.page-link:hover{
    background: $dark;
    color: $warning;
}

/*------------------------------------*\
    顏色, 背景相關
\*------------------------------------*/
.thisPage{
    background: $dark;
    color: $warning;
}