.block__1{
    background-image: url("https://github.com/newhandarky/week6-homework/blob/main/assets/images/event/13.jpg?raw=true");
    @include bg-img-cover;
    height: 511px;
    
}

.spark{
    width: 24px;
    height: 24px;
}

.event {
    img{
        width: 40px;
        height: 40px;
    }
}

.card__list{
    &__bg{
        @include bg-img-cover;
        max-width: 100%;
        height: 210px;        
    }
    &__bg1{
        background-image: url("https://github.com/newhandarky/week6-homework/blob/main/assets/images/event/01.jpg?raw=true");
    }
    &__bg2{
        background-image: url("https://github.com/newhandarky/week6-homework/blob/main/assets/images/event/02.jpg?raw=true");
    }
    &__bg3{
        background-image: url("https://github.com/newhandarky/week6-homework/blob/main/assets/images/event/03.jpg?raw=true");
    }
    &__bg4{
        background-image: url("https://github.com/newhandarky/week6-homework/blob/main/assets/images/event/04.jpg?raw=true");
    }
    &__bg5{
        background-image: url("https://github.com/newhandarky/week6-homework/blob/main/assets/images/event/05.jpg?raw=true");
    }
    &__bg6{
        background-image: url("https://github.com/newhandarky/week6-homework/blob/main/assets/images/event/06.jpg?raw=true");
    }
}



@media (min-width: 576px) {
    .event{
        img{
            width: 60px;
            height: 60px;
        }
    } 
}

@media (min-width: 992px) {
    .event {
        img{
            width: 80px;
            height: 80px;
        }
    }
}


@media (min-width: 768px) {
    .card__list__bg{
        height: 255px;
    }
}