/*------------------------------------*\
    顏色, 背景相關
\*------------------------------------*/
.block__1 {
    background-image: url("https://github.com/newhandarky/week6-homework/blob/main/assets/images/event/13.jpg?raw=true");
    @include bg-img-cover;
    height: 511px;

}

.chatGpt {
    @include bg-img-cover;
    background-position: center 34%;
    background-image: url("https://github.com/newhandarky/week6-homework/blob/main/assets/images/event/online.jpg?raw=true");
    min-height: 174px
}

/*------------------------------------*\
    圖片設定相關
\*------------------------------------*/
.spark {
    width: 24px;
    height: 24px;
}

.event {
    img {
        width: 40px;
        height: 40px;
    }
}


.card__item {
    &__photo {
        object-fit: cover;
        height: 274px;
    }
}

.card__list {
    &__photo{
        object-fit: cover;
        width: 100%;
        height: 210px;
    }
}

/*------------------------------------*\
    卡片傾斜效果
\*------------------------------------*/
.card__event {

    li {
        &:nth-child(2n) {
            transform: rotate(2deg)
        }

        &:nth-child(3) {
            transform: rotate(-2deg);
        }
    }
}

/*------------------------------------*\
    hover效果相關
\*------------------------------------*/
.hover-circle{
    position: relative;
    z-index: 1;
    &:hover::after{
        content: "";
        position: absolute;
        background-color: #FBFF22;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        left: -10px;
        z-index: -1;
    }
}

.followUs{
    i{
        background: $dark;
        color: $white;
    }
    a:hover{
        color: $dark-hover;
    }
    .link-mail:hover::after{
            content: " 歡迎您的來信";
    }
    
    .link-tel:hover::after{
            content: " 歡迎您的來電";        
    }
    .link-facebook:hover::after{
            content: " 歡迎您來按讚";        
    }
}

/*------------------------------------*\
    動畫效果相關
\*------------------------------------*/

// 修正滑入特效時產生的X軸
.overflow-x-hidden{
    overflow-y: hidden;
}

// 區塊傾斜效果
.h3-transform {
    transform: translate(-50%, -50%) rotate(-4deg);
}

.font-jump:hover{
        animation: bounce 1s 1;    
}

/*------------------------------------*\
    RWD相關
\*------------------------------------*/

@media (min-width: 576px) {
    .event {
        img {
            width: 60px;
            height: 60px;
        }
    }
    .card__list__photo{
        height: 225px;
    }
}

@media (min-width: 768px) {
    .card__list__photo{
        height: 240px;
    }
}

@media (min-width: 992px) {
    .event {
        img {
            width: 80px;
            height: 80px;
        }
    }
    .card__list__photo{
        height: 255px;
    }
}