/*------------------------------------*\
    RWD相關
\*------------------------------------*/
.icofont-check-circled{
    height: 32px;
    width: 32px;
    @media (min-width: 768px){
        height: 48px;
        width: 48px;
    }
}