<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>第六週作業-活動訂票網-會員登入頁面</title>
</head>

<body>
    <%- include('./layout/header'); -%>


        <main class="container pt-6 pt-sm-6 pt-md-8 pt-lg-15 wrapper mb-15">
            <div class="row">
                <div class="col-lg-4 m-auto mb-4">
                    <div class="toggle-logo mb-4 d-flex justify-content-center">
                        <img src="https://github.com/newhandarky/week6-homework/blob/main/assets/images/sparkler.png?raw=true"
                            alt="LOGO圖案">
                    </div>
                    <h2 class="fs-24 text-center">會員登入</h2>
                    <form class="needs-validation" action="index.html" method="post" novalidate>
                        <div class="d-flex flex-column mb-4">
                            <label class="mb-2" for="email">帳號</label>
                            <input class="py-2 px-4 form-control" type="email" name="email" id="email"
                                placeholder="請輸入帳號" required>
                            <div class="invalid-feedback">
                                請輸入帳號
                            </div>
                        </div>
                        <div class="d-flex flex-column mb-6 mb-md-8">
                            <label class="mb-2" for="password">密碼</label>
                            <input class="py-2 px-4 form-control" type="password" name="password"
                                id="password" placeholder="請輸入密碼" required>
                            <div class="invalid-feedback">
                                請輸入密碼
                            </div>
                        </div>
                        <button id="submitBtn"
                            class="btn btn-dark btn-hover link-hover d-flex justify-content-center align-items-center w-100"
                            type="submit">
                            登入
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                fill="none" class="hover-d-none">
                                <path
                                    d="M15.768 9.44006L11.704 5.37605C11.394 5.06605 10.892 5.06605 10.582 5.37605L10.232 5.72605C9.92201 6.03605 9.92201 6.53805 10.232 6.84805L12.826 9.44206C12.982 9.59806 13.058 9.80006 13.058 10.0021C13.058 10.2041 12.98 10.4081 12.826 10.5621L10.232 13.1561C9.92201 13.4661 9.92201 13.9681 10.232 14.2781L10.582 14.6281C10.892 14.9341 11.394 14.9341 11.704 14.6241L15.768 10.5601C15.924 10.4041 16 10.2021 16 10.0001C16 9.79806 15.922 9.59406 15.768 9.44006ZM9.76801 9.44006L5.70401 5.37605C5.39401 5.06605 4.89201 5.06605 4.58201 5.37605L4.23201 5.72605C3.92201 6.03605 3.92201 6.53805 4.23201 6.84805L6.82601 9.44206C6.98201 9.59806 7.05801 9.80006 7.05801 10.0021C7.05801 10.2041 6.98001 10.4081 6.82601 10.5621L4.23201 13.1561C3.92201 13.4661 3.92201 13.9681 4.23201 14.2781L4.58201 14.6281C4.89201 14.9341 5.39401 14.9341 5.70401 14.6241L9.76801 10.5601C9.92401 10.4041 10 10.2021 10 10.0001C10 9.79806 9.92201 9.59406 9.76801 9.44006Z"
                                    fill="white" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                fill="none" class="hover-d-inline">
                                <path
                                    d="M15.768 9.44006L11.704 5.37605C11.394 5.06605 10.892 5.06605 10.582 5.37605L10.232 5.72605C9.92201 6.03605 9.92201 6.53805 10.232 6.84805L12.826 9.44206C12.982 9.59806 13.058 9.80006 13.058 10.0021C13.058 10.2041 12.98 10.4081 12.826 10.5621L10.232 13.1561C9.92201 13.4661 9.92201 13.9681 10.232 14.2781L10.582 14.6281C10.892 14.9341 11.394 14.9341 11.704 14.6241L15.768 10.5601C15.924 10.4041 16 10.2021 16 10.0001C16 9.79806 15.922 9.59406 15.768 9.44006ZM9.76801 9.44006L5.70401 5.37605C5.39401 5.06605 4.89201 5.06605 4.58201 5.37605L4.23201 5.72605C3.92201 6.03605 3.92201 6.53805 4.23201 6.84805L6.82601 9.44206C6.98201 9.59806 7.05801 9.80006 7.05801 10.0021C7.05801 10.2041 6.98001 10.4081 6.82601 10.5621L4.23201 13.1561C3.92201 13.4661 3.92201 13.9681 4.23201 14.2781L4.58201 14.6281C4.89201 14.9341 5.39401 14.9341 5.70401 14.6241L9.76801 10.5601C9.92401 10.4041 10 10.2021 10 10.0001C10 9.79806 9.92201 9.59406 9.76801 9.44006Z"
                                    fill="yellow" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </main>





        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>

<script>
    const hamburger = document.querySelector(".hamburger");
    const h2 = document.querySelector("h2");
    const logo = document.querySelector(".toggle-logo");
    const submitBtn = document.querySelector("#submitBtn");

    window.onload = function () {
        hamburger.addEventListener("click", function () {
            h2.classList.toggle("d-none");
            logo.classList.toggle("d-none");
        })

        var forms = document.querySelectorAll('.needs-validation');

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })


    }
</script>