<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>第六週作業-活動訂票網-訂單完成頁面</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <main class="container-fluid pt-6 pt-md-15">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <%- include('./layout/payment-step'); -%>
                    <div class="mb-8 mb-md-10 md-lg-12">
                        <div class="text-center mb-4 mb-md-2">
                            <i class="fs-32 fs-md-48 icofont-check-circled"></i>
                        </div>
                        <h2 class="fs-32 fs-md-40 fs-lg-48 fw-bold text-start text-md-center mb-8">訂購成功</h2>

                        <div class="border-top border-3 border-dark noto-Serif-TC mb-4">
                            <p class="d-flex justify-content-between py-2 border-bottom border-dark">
                                <span class="fw-bold">訂單編號</span>
                                <span class="noto-sens-TC">892746123</span>
                            </p>
                            <p class="d-flex justify-content-between py-2 border-bottom border-dark">
                                <span class="fw-bold">訂購時間</span>
                                <span class="noto-sens-TC">2023/04/28 14:30</span>
                            </p>
                            <p class="d-flex justify-content-between py-2 border-bottom border-dark">
                                <span class="fw-bold">票券</span>
                                <span class="noto-sens-TC">改頭換面票（含大改造）$8000</span>
                            </p>
                            <p class="d-flex justify-content-between py-2 border-bottom border-dark">
                                <span class="fw-bold">取票序號</span>
                                <span class="noto-sens-TC text-danger fw-bold">95G54J4434</span>
                            </p>
                            <p class="d-flex justify-content-between py-2 border-bottom border-dark">
                                <span class="fw-bold">取票號碼</span>
                                <span class="noto-sens-TC text-danger fw-bold">04597101</span>
                            </p>
                        </div>
                        <p class="noto-sens-TC text-secondary">
                            請至 7-Eleven 完成取票，請於 ibon 點選【購票/取票/訂房】>【售票系統】>【取票】>【拓元售票系統】。<br>
                            若您未前往取票，本筆交易仍視為完成，不可取消訂單。<br>
                            若需退票，請按照退票辦法進行申請。
                        </p>
                    </div>
                </div>
            </div>
        </main>

        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>